$color: green;
$sizes: 10, 20, 50, 100;
$colors: red, green, blue, yellow;

@each $size in $sizes {
  .div-#{$size} {
    height: #{$size}px;
    width: #{$size}px;
  }
}
@each $color in $colors {
  #{".bg-"+$color} {
    background-color: $color;
  }
}
@each $color in $colors {
  #{".tc-"+$color} {
    color: $color;
  }
}
@mixin border{
    border: 1px solid black;
}

div {
    background-color: $color;
}

h1{
    color: $color;
}

.unterbox{
    background-color: $color;
    @include border;
    &:hover{
        
        background-color: silver;
    }
    .box{
        background-color: #a52a2a;
        @include border;
        color: yellow;
         &:hover{
        background-color: silver;
    }
   
    }
}